@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    --violet-700: #1f1346;
    --violet-600:#2f1c6a;
    --violet-500:#673de6;
    --white-text:#ffff;
    --color-counter:#e2dbfc;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
.title-medium{
    font-size: 36px;
    font-weight: 700;
}
.title-small{
    font-size: 18px;
    font-weight: 700;
}
.text-small{
    font-size: 16px;
    font-weight: 400;
}
.text-big{
    font-size: 20px;
}
.num-big{
    font-size: 48px;
    font-weight: 700;
}
.text-color-different{
    color: var(--violet-500);
}
.fw{
    font-weight: 700;
}
.mt{
    margin-top: 24px;
}
.mb{
    margin-bottom: 24px;
}
.mtsmall{
    margin-top: 8px;
}

/*Hero*/

.header-hero{
    color: var(--violet-600);
    padding: 36px 40px 96px;
    margin: 0 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.header-hero-left{
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 600px;
    padding: 0;
}
.hero-left__header{
    margin: 0 0 24px;
}
.hero-left__list{
    display: flex;
    flex-direction: column;
    font-weight: 400px;
}
.hero-left__list__items{
    display: flex;
    gap: 10px;
    margin: 0 2px;
}
.hero-left__list__icons-check{
    font-size: 22px;
    color: #40c4ac;
}
.hero-left__list__icons-question{
    font-size: 13px;
}
.hero-left__buttons{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 28px 0 15px;
}
.primary-button{
    background: var(--violet-500);
    color: var(--white-text);
    padding: 12px 48px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 8px;
}
.counter-time{
    background: var(--color-counter);
    text-align: center;
    border-radius: 8px;
    padding: 12px 18px;
    font-weight: 700;
    min-width: 160px
}
.check-garant{
    font-weight: 400;
}
.header-hero-right{
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 1024px;
}
.header-hero-rigth img{
    width: 100%;
}
/*Migracion*/

.section-services{
    background: var(--violet-700);
    color: var(--white-text);
    padding: 80px 0;
    width: 100%;
}
.section-services-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-service-content__header{
    text-align: center;
    margin: 0 0 48px;
    padding: 0 40px;
}
.content-cards{
    display: flex;
    padding: 0 40px;
    gap: 24px;
}
.card{
    background: var(--violet-600);
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 16px;
    gap: 16px;
    flex: 1;
}
.card-icono{
    background: var(--violet-500);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 38px;
    width: 38px;
    border-radius: 6px;
}
.botton-service{
    text-decoration: none;
    background: var(--violet-500);
    color: var(--white-text);
    padding: 12px 48px;
    margin-top: 32px;
    border-radius: 8px;
}

@media screen and (max-width: 1024px){
    .title-medium{
        font-size: 28px;
    }
    .section-services{
        padding: 64px 0;
    }
    .section-service-content__header{
        margin: 0 auto 40px;
        max-width: 768px;
    }
    .content-cards{
        flex-direction: column;
        margin: 0 auto;
        max-width: 768px;
    }
}
@media screen and (max-width: 768px){
    .title-medium{
        font-size: 24px;
    }
    .section-services{
        padding: 56px 0;
    }
    .section-service-content__header{
        margin: 0 auto 32px;
        max-width: 540px;
        padding: 0 16px;
    }
    .content-cards{
        max-width: 540px;
        padding: 16px;
    }
}